*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto' , sans-serif;
    color: black;
}
h2 {
    font-family: 'Shrikhand', cursive;
    color: blue;

}

.apropos{
    background-color: black;
    text-decoration-color: white;
}
.list{
    color: white;
}
.fas{
    color: white;
}